/ Discount
- if current_order.discount.present?
  .sidebar-summary-line.text-success
    .pull-right= loading_gif
    %span.text-success= current_order.discount.description

/ Placeholder
- if lookup_context.exists? "spina/checkout/sidebar/_before_subtotal_blank_state"
  = render partial: "spina/checkout/sidebar/before_subtotal_blank_state"

/ Subtotal
.sidebar-summary-line
  .pull-right= loading_gif

  - if current_order.prices_include_tax?
    = Spina::Shop::Order.human_attribute_name(:sub_total)
  - else
    = Spina::Shop::Order.human_attribute_name(:sub_total_excl_tax)

/ Delivery costs
- if current_order.delivery_option.present?
  .sidebar-summary-line
    .pull-right= loading_gif
    = Spina::Shop::Order.human_attribute_name(:delivery_price)

/ Tax (only if order doesn't include tax)
- if !current_order.prices_include_tax?
  .sidebar-summary-line
    .pull-right= loading_gif
    =t 'spina.checkout.tax', rate: ''

/ Total
.sidebar-summary-line{class: ('sidebar-summary-line-big' unless current_order.gift_cards.any?)}
  .pull-right= loading_gif
  = Spina::Shop::Order.human_attribute_name(:total)

/ Gift cards
- if current_order.gift_cards.any?
  .sidebar-summary-line.text-success
    %span.text-success
      .pull-right{style: "position: absolute"}= loading_gif
      = Spina::Shop::GiftCard.model_name.human

  .sidebar-summary-line.sidebar-summary-line-big
    .pull-right= loading_gif
    = Spina::Shop::Order.human_attribute_name(:to_be_paid)

/ Codes form
= render partial: "spina/checkout/sidebar/summary/codes_form" if current_order.building?

- if current_order.requires_shipping?
  / Delivery date if the order is shipped
  .sidebar-delivery
    .sidebar-summary-line
      .pull-right
      =t "spina.checkout.expected_delivery"