/ Subtotal
.sidebar-summary-line
  .pull-right= number_to_currency current_order.order_total_without_discount

  - if current_order.prices_include_tax?
    = Spina::Shop::Order.human_attribute_name(:sub_total)
  - else
    = Spina::Shop::Order.human_attribute_name(:sub_total_excl_tax)

/ Discount
- if current_order.discount.present?
  .sidebar-summary-line.text-success
    .pull-right= number_to_currency current_order.order_total - current_order.order_total_without_discount
    %span.text-success
      = current_order.discount.description
      = link_to discount_path, class: 'button button-mini', data: {method: :delete, remote: true, action: 'sidebar-summary#fetchSummaryDelayed'} do
        %i.icon.icon-bin
        x

/ Delivery costs
- if current_order.delivery_option.present?
  .sidebar-summary-line
    .pull-right
      - if current_order.delivery_price.zero?
        %strong.text-success=t 'spina.checkout.free'
      - else
        = number_to_currency current_order.delivery_price
    = Spina::Shop::Order.human_attribute_name(:delivery_price)

/ Tax (only if order doesn't include tax)
- if !current_order.prices_include_tax?
  .sidebar-summary-line
    - if current_order.vat_reverse_charge?
      .pull-right=t 'spina.checkout.vat_reverse_charge'
      &nbsp;
    - else
      - current_order.tax_amount_by_rates.each do |rate, tax|
        .sidebar-summary-line
          .pull-right= number_to_currency tax[:tax_amount]
          =t 'spina.checkout.tax', rate: rate.round

/ Total
.sidebar-summary-line{class: ('sidebar-summary-line-big' unless current_order.gift_cards.any?)}
  .pull-right= number_to_currency current_order.total
  = Spina::Shop::Order.human_attribute_name(:total)

/ Gift cards
- current_order.gift_cards.each do |gift_card|
  %div{style: 'clear: both'}
    .pull-right
      .sidebar-summary-line{style: 'width: auto; display: inline-block; background: white; border: 1px solid #ddd; border-radius: 4px; padding: 0 8px'}
        %span.text-success= number_to_currency gift_card.value
        %span= gift_card.readable_code
        = link_to gift_card_path(gift_card), class: 'button button-mini', data: {method: :delete, remote: true, action: 'sidebar-summary#fetchSummaryDelayed'} do
          %i.icon.icon-bin
          x
  %br/
  %br/

- if current_order.gift_cards.any?
  .sidebar-summary-line.sidebar-summary-line-big
    .pull-right= number_to_currency current_order.to_be_paid
    = Spina::Shop::Order.human_attribute_name(:to_be_paid)

.form-group{data: {controller: "codes", url: codes_path}}
  .input-wrapper{style: 'background: rgba(255, 255, 255, .75)'}
    = text_field_tag :code, nil, class: 'input-small', placeholder: "Cadeaubon of kortingscode", data: {target: "codes.input"}

  = button_tag type: :button, class: 'button button-small button-white', style: "background: none; font-size: 26px; display: flex; align-items: center", data: {action: "codes#addCode sidebar-summary#fetchSummary"} do
    +

- if current_order.requires_shipping?
  / Delivery date if the order is shipped
  .sidebar-delivery
    .sidebar-summary-line{data: {controller: 'delivery-date', delivery_date_url: delivery_date_path}}
      .pull-right{data: {target: 'delivery-date.date'}}
      =t "spina.checkout.expected_delivery"
