!!!
%html
  %head
    %title Checkout
    = stylesheet_link_tag    'spina/checkout/application', media: 'all', 'data-turbolinks-track' => true
    -#= javascript_include_tag 'checkout/checkout'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=0'}
    %meta{name: 'turbolinks-cache-control', content: 'no-cache'}
  %body
    %header#header
      = link_to '/', {data: {turbolinks: false}} do
        = image_tag 'spina/checkout/logo.jpg', width: "50%"

    %section#wizard_steps
      - wizard_steps.first(wizard_steps.size - 1).each_with_index do |step, index|
        - if past_step?(step) && (@step != :success)
          = link_to wizard_path(step), class: 'wizard-step' do
            .wizard-icon= index + 1
            %span=t "spina.checkout.steps.#{step}"
        - else
          .wizard-step{class: ('active' if step == @step)}
            .wizard-icon= index + 1
            %span=t "spina.checkout.steps.#{step}"

    = yield
