= f.label :delivery_option_id, value: delivery_option.id, class: 'form-option' do
  = f.radio_button :delivery_option_id, delivery_option.id
  .form-option-container
    .form-option-image
      = image_tag "spina/checkout/carriers/#{delivery_option.carrier&.parameterize}.svg"
    .form-option-description
      %strong= t "delivery_options.#{delivery_option.name&.parameterize}.name"
      %small
        =t "delivery_options.#{delivery_option.name.parameterize}.description"
        - if delivery_option.price_for_order(current_order) == BigDecimal(0)
          %strong.text-green=t "spina.checkout.free"
        - else
          %strong= number_to_currency delivery_option.price_for_order(current_order)
    .form-option-button
      = button_tag type: :submit, class: 'button button-primary' do
        =t "spina.checkout.next"
        %i.icon.icon-arrow-right
