%div
  .form-group
    = checkout_field(f, "#{address_type}_street1", size: :large, required: true, default: current_customer&.default_address&.street1)
    = checkout_field(f, "#{address_type}_house_number", required: true, default: current_customer&.default_address&.house_number)
    = checkout_field(f, "#{address_type}_house_number_addition", default: current_customer&.default_address&.house_number_addition)

  .form-group
    = checkout_field(f, "#{address_type}_postal_code", required: true, default: current_customer&.default_address&.postal_code)
    = checkout_field(f, "#{address_type}_city", required: true, default: current_customer&.default_address&.city)

  .form-group
    .input-wrapper.focused{data: {label: Spina::Shop::Order.human_attribute_name("#{address_type}_country")}}
      .form-dropdown
        = f.select "#{address_type}_country_id", Spina::Shop::Country.pluck(:name, :id), {}, data: {target: 'validate.country'}
