.overflow-container
  = form_with model: current_order, url: wizard_path, method: :put, class: 'container', local: true, data: {controller: 'validate'} do |f|
    .main-content{data: {controller: "details"}}
      %h2.heading-2=t 'spina.checkout.steps.details'

      = render partial: 'spina/checkout/shared/notifications'

      .form-group
        = checkout_field(f, :email, target: "details.email", required: "email", default: current_customer&.email)

      - unless logged_in?
        = link_to 'Inloggen', login_path, data: {remote: true, target: "details.loginLink"}

      %h2.heading-2{style: "margin-top: 30px"}=t "spina.checkout.billing_address"

      .form-group
        = checkout_field(f, :first_name, required: true, default: current_customer&.first_name)
        = checkout_field(f, :last_name, required: true, default: current_customer&.last_name)

      / Address fields
      = render partial: 'address_fields', locals: {f: f, address_type: "billing"}

      %div
        %h2.heading-2{style: "margin-top: 30px"}=t "spina.checkout.delivery_address"
        .form-group
          .button-group
            %label.form-label.button.button-white.button-small.button-radio-button
              = f.radio_button :separate_delivery_address, false, data: {action: 'details#toggleSeparateDeliveryAddress'}
              =t 'spina.checkout.delivery_address_same_as_billing_address'

            %label.form-label.button.button-white.button-small.button-radio-button
              = f.radio_button :separate_delivery_address, true, data: {action: 'details#toggleSeparateDeliveryAddress', target: 'details.separateDeliveryAddress'}
              = Spina::Shop::Order.human_attribute_name(:separate_delivery_address)
        
        %div{data: {target: "details.deliveryAddress"}}
          .form-group
            = checkout_field(f, :delivery_first_name, required: true)
            = checkout_field(f, :delivery_last_name, required: true)
            
          = render partial: 'address_fields', locals: {f: f, address_type: "delivery"}

      %h2.heading-2{style: "margin-top: 30px"}= Spina::Shop::Order.human_attribute_name(:date_of_birth)

      = render partial: "date_of_birth_fields", locals: {f: f}

      .form-group.hide-mobile{style: "margin-top: 30px"}
        = link_to wizard_path('shopping_cart'), class: 'button button-link checkout-back-link', style: 'padding-left: 0' do
          %i.icon.icon-arrow-left
          %span=t 'spina.checkout.back'

    .sidebar= render partial: 'spina/checkout/sidebar/sidebar'