%nav#wizard
  - wizard_steps.each_with_index do |step, index|
    - if past_step?(step) && current_order&.building?
      = link_to wizard_path(step), class: "wizard-step" do
        .wizard-icon= index + 1
        %span=t "checkout.#{step}"
    - else
      .wizard-step{class: ('current-step' if step == @step)}
        .wizard-icon= index + 1
        %span=t "checkout.#{step}"
