.sidebar-container
  %table.table
    - @order.order_items.each do |order_item|
      %tr
        %td
          = order_item.quantity
          &times;
          = order_item.description
        %td.text-right
          = number_to_currency order_item.total, unit: '€'

    %tr
      %td{colspan: 2}
    %tr
      %td= Spina::Shop::Order.human_attribute_name :sub_total
      %td.text-right= number_to_currency @order.order_total, unit: '€'

    - if @order.requires_shipping?
      %tr
        %td Verzending
        %td.text-right= number_to_currency @order.delivery_price

    %tr
      %td{colspan: 2}

    - if @order.vat_reverse_charge?
      %tr.text-muted
        %td=t 'spina.shop.tax.vat_reverse_charge'
        %td.text-right= number_to_currency BigDecimal.new(0), unit: '€'
    - else
      %tr.text-muted
        %td= Spina::Shop::Order.human_attribute_name :total_excluding_tax
        %td.text-right= number_to_currency @order.total_excluding_tax, unit: '€'

      - @order.tax_amount_by_rates.each do |tax_rate|
        - unless tax_rate[0] == 0
          %tr
            %td.text-muted= "#{number_with_precision tax_rate[0], precision: 0}% btw"
            %td.text-right.text-muted= number_to_currency tax_rate[1][:tax_amount]

    %tr
      %td= Spina::Shop::Order.human_attribute_name :total
      %th.text-right= number_to_currency @order.total, unit: '€'
