%section#main_content
  %section#main
    = form_with model: @order, url: wizard_path, method: :put do |f|
      = hidden_field_tag :locale, I18n.locale
      
      .main-container
        .checkout-heading=t 'spina.checkout.choose_delivery'

        .form-group
          .form-options
            - @order.delivery_options.each do |option|
              .form-option
                = f.radio_button :delivery_option_id, option.id, checked: true

                .form-option-container
                  .form-option-radio-button
                  .form-option-description
                    %strong
                      =t "spina.checkout.delivery_options.#{option.name}.name"
                    %small
                      =t "spina.checkout.delivery_options.#{option.name}.description"
                      - if option.price_for_order(@order) != BigDecimal.new(0)
                        %strong= number_to_currency option.price_for_order(@order), unit: '€'

      .main-container-links
        .main-container
          = link_to t("spina.checkout.back_to_#{@previous_step}"), checkout_path(@previous_step, locale: I18n.locale), class: 'button button-link', style: "padding-left: 0px"

          = button_tag t('spina.checkout.next'), type: :submit, class: 'button button-primary'

  %aside#sidebar= render 'sidebar'