%section#main_content
  %section#main
    = form_for @order, url: wizard_path, method: :put do |f|
      = hidden_field_tag :locale, I18n.locale
      
      .main-container
        .checkout-heading=t 'spina.checkout.steps.details'

        .form
          .form-group
            = f.text_field :email, placeholder: "Email", value: @order.email || current_customer.try(:email)

        .checkout-subheading= Spina::Shop::Order.human_attribute_name(:billing_address)

        - if flash[:info].present?
          .notification.notification-info
            .notification-message
              = flash[:info]

        .form
          - if current_customer_account
            .form-group
              .form-control= f.text_field :company, value: @order.company || current_customer.try(:company), placeholder: Spina::Shop::Order.human_attribute_name(:company), disabled: true

          .form-group
            .form-control= f.text_field :first_name, value: @order.first_name || current_customer.try(:first_name), placeholder: Spina::Shop::Order.human_attribute_name(:first_name)
            .form-control= f.text_field :last_name, value: @order.last_name || current_customer.try(:last_name), placeholder: Spina::Shop::Order.human_attribute_name(:last_name)

          .form-group
            .form-control.form-control-large= f.text_field :billing_street1, placeholder: Spina::Shop::Order.human_attribute_name(:billing_street1), value: @order.billing_street1 || current_customer.try(:billing_address).try(:street1)
            .form-control= f.text_field :billing_house_number, placeholder: Spina::Shop::Order.human_attribute_name(:billing_house_number), value: @order.billing_house_number || current_customer.try(:billing_address).try(:house_number)
            .form-control= f.text_field :billing_house_number_addition, placeholder: Spina::Shop::Order.human_attribute_name(:billing_house_number_addition), value: @order.billing_house_number_addition || current_customer.try(:billing_address).try(:house_number_addition)

          .form-group
            .form-control= f.text_field :billing_postal_code, placeholder: Spina::Shop::Order.human_attribute_name(:billing_postal_code), value: @order.billing_postal_code || current_customer.try(:billing_address).try(:postal_code)
            .form-control= f.text_field :billing_city, placeholder: Spina::Shop::Order.human_attribute_name(:billing_city), value: @order.billing_city || current_customer.try(:billing_address).try(:city)

          .form-group
            .form-control= f.text_field :phone, placeholder: Spina::Shop::Order.human_attribute_name(:phone), value: @order.phone || current_customer.try(:phone)
            .form-control
              .select-dropdown= f.select :billing_country_id, options_for_select(countries_for_select, f.object.billing_country_id || current_customer.try(:country).try(:id)), prompt: t('spina.checkout.choose_country')

        = f.check_box :separate_delivery_address, value: @order.separate_delivery_address, placeholder: Spina::Shop::Order.human_attribute_name(:separate_delivery_address)
        = f.label :separate_delivery_address, Spina::Shop::Order.human_attribute_name(:separate_delivery_address), class: 'label'

        .form.checkout-delivery-fields
          - if current_customer.present? && current_customer.addresses.delivery.any?
            .form-group
              .form-control
                .select-dropdown
                  %select.choose-delivery-address
                    %option= t('spina.checkout.new_address')
                    - current_customer.addresses.delivery.order(:postal_code).each do |address|
                      %option{data: {name: address.name, street1: address.street1, house_number: address.house_number, house_number_addition: address.house_number_addition, postal_code: address.postal_code, city: address.city, country_id: address.country_id}}
                        = [address.postal_code, address.city].join(', ')
                        = "(#{address.name})"

          .form-group
            .form-control= f.text_field :delivery_name, value: @order.delivery_name || current_customer.try(:name), placeholder: Spina::Shop::Order.human_attribute_name(:delivery_name)

          .form-group
            .form-control.form-control-large= f.text_field :delivery_street1, placeholder: Spina::Shop::Order.human_attribute_name(:delivery_street1), value: @order.delivery_street1
            .form-control= f.text_field :delivery_house_number, placeholder: Spina::Shop::Order.human_attribute_name(:delivery_house_number), value: @order.delivery_house_number
            .form-control= f.text_field :delivery_house_number_addition, placeholder: Spina::Shop::Order.human_attribute_name(:delivery_house_number_addition), value: @order.delivery_house_number_addition

          .form-group
            .form-control= f.text_field :delivery_postal_code, placeholder: Spina::Shop::Order.human_attribute_name(:delivery_postal_code), value: @order.delivery_postal_code
            .form-control= f.text_field :delivery_city, placeholder: Spina::Shop::Order.human_attribute_name(:delivery_city), value: @order.delivery_city

          .form-group
            .form-control
              .select-dropdown= f.select :delivery_country_id, options_for_select(countries_for_select, f.object.delivery_country_id || current_customer.try(:country_id)), prompt: t('spina.checkout.choose_country')

      .main-container-links
        .main-container
          = link_to t('spina.checkout.back_to_cart'), checkout_path('shopping_cart', locale: I18n.locale), class: 'button button-link', style: 'padding-left: 0px'
          = button_tag t("spina.checkout.next"), type: :submit, class: 'button button-primary'

  %aside#sidebar= render 'sidebar'