%section#main_content
  %section#main
    = form_for @order, url: wizard_path, method: :put do |f|
      = hidden_field_tag :locale, I18n.locale

      .main-container
        .checkout-heading=t 'spina.checkout.overview'

        - if @order.confirming?
          .notification.notification-danger
            .notification-message
              =t 'spina.checkout.order_not_yet_received'
              = @order.current_state
              = link_to t('spina.checkout.edit_order'), cancel_and_duplicate_checkout_index_path({locale: I18n.locale}), class: '', data: {method: :post}

        - if flash[:info].present?
          .notification.notification-info
            .notification-message
              = flash[:info]

        .checkout-blocks
          .checkout-block
            .checkout-subheading{style: 'margin-top: 0'} 
              - if @order.requires_shipping?
                =t('spina.checkout.shipping')
              - else
                =t('spina.checkout.pickup')

            - if @order.requires_shipping?
              %table.table
                %tr
                  %td= @order.delivery_name
                %tr
                  %td= @order.delivery_address
                %tr
                  %td= "#{@order.delivery_postal_code}, #{@order.delivery_city} #{@order.delivery_country.code}"

              %hr.checkout-block-divider/

              =t 'spina.checkout.delivery_method'

              .checkout-block-summary
                %div=t "spina.checkout.delivery_options.#{@order.delivery_option.name}.name"

          .checkout-block
            .checkout-subheading{style: 'margin-top: 0'}=t 'spina.checkout.billing_address'

            %table.table
              %tr
                %td= @order.billing_name
              %tr
                %td= @order.billing_address
              %tr
                %td= "#{@order.billing_postal_code}, #{@order.billing_city} #{@order.billing_country.code}"

            - if @order.reference.present?
              %hr.checkout-block-divider/

              = Spina::Shop::Order.human_attribute_name(:reference)

              .checkout-block-summary
                %div= @order.reference

            %hr.checkout-block-divider/

            =t 'spina.checkout.payment_method'

            .checkout-block-summary
              %div
                = image_tag "spina/checkout/payment_options/#{@order.payment_method}.svg", height: 20, style: 'vertical-align: middle'
                =t "spina.checkout.payment_options.#{@order.payment_method}"

      .main-container-links
        .main-container
          - if @order.building?
            = link_to t('spina.checkout.back_to_payment'), checkout_path('payment', locale: I18n.locale), class: 'button button-link', style: 'padding-left: 0px'

            = button_tag t('spina.checkout.confirm_order'), type: :submit, class: 'button button-primary'
          - else
            = link_to t('spina.checkout.edit_order'), cancel_and_duplicate_checkout_index_path({locale: I18n.locale}), class: 'button button-link', style: 'padding-left: 0px', data: {method: :post}

            = link_to t('spina.checkout.confirm_order'), @order.payment_url, class: 'button button-primary'

  %aside#sidebar= render 'sidebar'