.sidebar-content
  .sidebar-action.show-mobile= render partial: 'spina/checkout/sidebar/action'

  - if @step == :shopping_cart
    .sidebar-title=t 'spina.checkout.overview'
  - else
    .sidebar-title
      =t 'spina.checkout.products', count: current_order.order_items.sum(:quantity)
      = link_to t('spina.checkout.edit'), wizard_path(:shopping_cart) if current_order.building?

    .sidebar-products{data: {controller: "sidebar-products", order_items_url: sidebar_order_items_url(format: :html)}}
      = render partial: 'spina/checkout/sidebar/order_items/list'

  .sidebar-summary{data: {controller: "sidebar-summary", summary_url: sidebar_summary_url}}
    = render partial: 'spina/checkout/sidebar/summary/blank_state'

  .sidebar-action= render partial: 'spina/checkout/sidebar/action'
