.sidebar-content
  .sidebar-action.show-mobile= render partial: 'spina/checkout/sidebar/action'

  - if @step == :shopping_cart
    .sidebar-title=t 'spina.checkout.overview'
  - else
    .sidebar-title
      =t 'spina.checkout.products', count: current_order.order_items.sum(:quantity)
      = link_to t('spina.checkout.edit'), wizard_path(:shopping_cart) if current_order.building?

    .sidebar-products
      .sidebar-products-list
        = render partial: 'spina/checkout/sidebar/order_item', collection: current_order.order_items.order(:id).limit(11)
      .sidebar-products-navigation
        - if current_order.order_items.size > 11
          = link_to t("spina.checkout.load_more_products"), checkout_sidebar_order_items_path(page: 2), class: 'button button-white button-block button-small', data: {remote: true}

  .sidebar-summary{data: {controller: "sidebar-summary", summary_url: sidebar_summary_url}}
    = render partial: 'spina/checkout/sidebar/summary/blank_state'

  .sidebar-action= render partial: 'spina/checkout/sidebar/action'
