.sidebar-content
  - if @step == :shopping_cart
    .sidebar-title=t 'spina.checkout.overview'
  - else
    .sidebar-title
      =t 'spina.checkout.products', count: current_order.order_items.sum(:quantity)
      = link_to t('spina.checkout.edit'), wizard_path(:shopping_cart) if current_order.building?

    .sidebar-products
      .sidebar-products-list
        = render partial: 'spina/checkout/sidebar/order_item', collection: current_order.order_items.order(:id).limit(11)
      .sidebar-products-navigation
        - if current_order.order_items.size > 11
          = link_to t("spina.checkout.load_more_products"), checkout_sidebar_order_items_path(page: 2), class: 'button button-white button-block button-small', data: {remote: true}

  .sidebar-summary{data: {controller: "sidebar-summary", summary_url: sidebar_summary_url}}
    = render partial: 'spina/checkout/sidebar/summary/blank_state'

  - if @step == :overview
    - if Spina::Checkout.config.terms_and_conditions_path.present?
      .sidebar-terms-and-conditions
        =t 'spina.checkout.terms_and_conditions_html', link: Spina::Checkout.config.terms_and_conditions_path, target: :blank

    - if current_order.confirming?
      = link_to current_order.payment_url, class: "button button-primary button-large", style: "margin-top: 20px", data: {disable: "..."} do
        =t "spina.checkout.pay_order"
    - else
      = button_tag t('spina.checkout.confirm_order'), type: :submit, class: 'button button-primary button-large', style: "margin-top: 20px", data: {disable: "..."}

  - else
    = button_tag type: :submit, class: 'button button-primary button-large', style: "margin-top: 20px", data: {disable_with: "..."} do
      .button-content
        =t 'spina.checkout.next'
        %i.icon.icon-arrow-right
